*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}

.weather-input {
    height:100%;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0980e1;
}

.weather-output {
    width: 80%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

